[data-fm-area-name="Headline"] {
    position: absolute; // wichtig für innenliegendes div, es geht auch relative
    box-sizing: border-box;

    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -105px;

    /* 1. direktes Item in diesem Bereich */
    &>[data-fm-area-item-title]:nth-child(1) {
        h2 {
            color: #555;
            font-family: "p22_corinthia";
            font-size: 100px;
            font-weight: lighter;
            margin: 0;
            position: relative;
            display: block;
        }

        h3 {
            color: rgb(146, 146, 146);
            font-family: "lato-regular", Helvetica, Arial, sans-serif;
            font-size: 14px;
            margin: -5px 0 0 25px;
            left: 1px;
        }
    }

    /* 2. direktes Item in diesem Bereich */
    &>[data-fm-area-item-title]:nth-child(2) {
        display: none;
        h2 {
            color: rgb(0, 114, 95);
            font-family: 'Yatra One';
            font-size: 70px;
            margin: 0;
            position: relative;
            display: block;
        }

        h3 {
            color: rgb(2, 82, 42);
            font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
            font-size: 50px;
            margin: 5px 0 0 25px;
            left: 1px;
        }
    }
}
